recursive-include . *.py

include .flake8
include *.md
include *.json
recursive-include cms_bluebutton *.json
recursive-include cms_bluebutton *.yaml
recursive-include cms_bluebutton *.coveragerc

exclude .bluebutton-config.json
exclude requirements/*


